{
    "parserOptions": {
        "ecmaVersion": 2020, // ecmaVersion 2020을 쓸경우 env 옵션에도 es2020: true 설정으로 맞춤
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env":{
        "browser": true,
        "node": true,
        "es2020":true,
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "import",
        "react-hooks"
    ],
    "rules": {

    }
}